/* Progress Component Styles */

.progress {
  position: relative;
  height: 1rem;
  width: 100%;
  overflow: hidden;
  border-radius: var(--ew-radius);
  background-color: oklch(var(--ew-secondary));
}

.indicator {
  height: 100%;
  width: 100%;
  flex: 1;
  background-color: oklch(var(--ew-primary));
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
