/* Separator Component Styles */

.separator {
  flex-shrink: 0;
  background-color: oklch(var(--ew-border));
}

.horizontal {
  height: 1px;
  width: 100%;
}

.vertical {
  width: 1px;
  height: 100%;
}
